.container {
  width: 280px;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.greetings {
  font-size: 14px;
  padding: 8px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  transform: translate(-5px, 0px); /* Shift the image 20px right and 20px down */
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}


